<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Movies filmed in San Francisco</title>

    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/light/jquery-ui.min.css" rel="stylesheet">
    <link href="css/core.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML6 shim and Respond.js IE8 support of HTML6 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html6shiv/3.7.0/html6shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="jumbotron">
    <div class="container">                
            <h2 class="movie-search-heading">Search movie locations in San Francisco:</h2>
            <form class="movie-search-form" role="form">
                <input id="movie-search" type="text" class="form-control" placeholder="Enter movie location here...">
            </form>
            <div class="filter"></div>
    </div>
    </div>
    
    <div>
        <div id="map-canvas"></div>
    </div>
    
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBZjJ1N0Wp4cpiWMtEcfFjIeB7_qsAupWU&sensor=true"></script>
    <script type="text/javascript" src="js/lib.min.js"></script>
    <script type="text/javascript" src="js/sfmovie.js"></script>

    <script type="text/template" id="dropdown-template">
        <div class="dropdown inline">
            <button class="btn btn-default dropdown-toggle" type="button" id="<%=key%>DropdownMenu" data-toggle="dropdown">
                <%=label%>
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu" aria-labelledby="<%=key%>DropdownMenu">
            <li role="presentation"><a class="<%=key%>Option" role="menuitem" tabindex="-1" href="#" data-filter-key='<%=key%>'>All</a></li>
            <% _.each(items, function(item){%>
                <li role="presentation"><a class="<%=key%>Option" role="menuitem" tabindex="-1" href="#" data-filter-key='<%=key%>' data-filter-value='<%=item%>'><%=item%></a></li>
            <%});%>
            </ul>
        </div>
    </script>

    <script type="text/template" id="movie-info-window-template">
    <div class="container-fluid">
            <div class="row">
               <label class="col-md-4">Title</label>
               <span class="col-md-8"><%=title%></span>
            </div>
            <div class="row">
               <label class="col-md-4">Release Year</label>
               <span class="col-md-8"><%=releaseYear%></span>
            </div>
            <div class="row">
               <label class="col-md-4">Location</label>
               <span class="col-md-8"><%=locations%></span>
            </div>
            <div class="row">
               <label class="col-md-4">Production Company</label>
               <span class="col-md-8"><%=productionCompany.replace(new RegExp('\r?\n', 'g'), '<br/>')%></span>
            </div>
            <div class="row">
               <label class="col-md-4">Distributor</label>
               <span class="col-md-8"><%=distributor%></span>
            </div>
            <div class="row">
               <label class="col-md-4">Director</label>
               <span class="col-md-8"><%=director%></span>
            </div>
            <div class="row">
               <label class="col-md-4">Writer</label>
               <span class="col-md-8"><%=writer%></span>
            </div>
            <div class="row">
               <label class="col-md-4">Actors</label>
               <span class="col-md-8"><% _.each(actors, function(actor){%>
                    <%=actor%><br/>
                <%});%></span>
            </div>
            <%if (funFacts!=null) {%>
            <div class="row">
               <label class="col-md-4">Func Facts</label>
               <span class="col-md-8"><%=funFacts%></span>
            </div>
            <%}%>
    </div>
    </script>
  </body>
</html>