/* SF MOVIE CSS*/
html { 
	height: 100% 
}

body { 
	height: 100%; margin: 0; padding: 0 
}

#map-canvas { height: 100% }

.jumbotron {
	margin-bottom: 0;
}

.nomargin {
	margin:0;
}

.inline {
	display: inline-block;
}

.filter {
	margin-top: 10px;
}

.jumbotron {
	padding:30px;
}


/*
 * typehead.js-bootstrap3.less
 * @version 0.2.3
 * https://github.com/hyspace/typeahead.js-bootstrap3.less
 *
 * Licensed under the MIT license:
 * http://www.opensource.org/licenses/MIT
 */
.has-warning .twitter-typeahead .tt-input,.has-warning .twitter-typeahead .tt-hint
	{
	border-color: #8a6d3b;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.has-warning .twitter-typeahead .tt-input:focus,.has-warning .twitter-typeahead .tt-hint:focus
	{
	border-color: #66512c;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px
		#c0a16b;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #c0a16b;
}

.has-error .twitter-typeahead .tt-input,.has-error .twitter-typeahead .tt-hint
	{
	border-color: #a94442;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.has-error .twitter-typeahead .tt-input:focus,.has-error .twitter-typeahead .tt-hint:focus
	{
	border-color: #843534;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px
		#ce8483;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ce8483;
}

.has-success .twitter-typeahead .tt-input,.has-success .twitter-typeahead .tt-hint
	{
	border-color: #3c763d;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.has-success .twitter-typeahead .tt-input:focus,.has-success .twitter-typeahead .tt-hint:focus
	{
	border-color: #2b542c;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px
		#67b168;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #67b168;
}

.input-group .twitter-typeahead:first-child .tt-input,.input-group .twitter-typeahead:first-child .tt-hint
	{
	border-bottom-left-radius: 4px;
	border-top-left-radius: 4px;
}

.input-group .twitter-typeahead:last-child .tt-input,.input-group .twitter-typeahead:last-child .tt-hint
	{
	border-bottom-right-radius: 4px;
	border-top-right-radius: 4px;
}

.input-group.input-group-sm .twitter-typeahead .tt-input,.input-group.input-group-sm .twitter-typeahead .tt-hint
	{
	height: 30px;
	padding: 5px 10px;
	font-size: 12px;
	line-height: 1.5;
	border-radius: 3px;
}

select.input-group.input-group-sm .twitter-typeahead .tt-input,select.input-group.input-group-sm .twitter-typeahead .tt-hint
	{
	height: 30px;
	line-height: 30px;
}

textarea.input-group.input-group-sm .twitter-typeahead .tt-input,textarea.input-group.input-group-sm .twitter-typeahead .tt-hint,select[multiple].input-group.input-group-sm .twitter-typeahead .tt-input,select[multiple].input-group.input-group-sm .twitter-typeahead .tt-hint
	{
	height: auto;
}

.input-group.input-group-sm .twitter-typeahead:not (:first-child ):not (:last-child
	) .tt-input,.input-group.input-group-sm .twitter-typeahead:not (:first-child
	):not (:last-child ) .tt-hint {
	border-radius: 0;
}

.input-group.input-group-sm .twitter-typeahead:first-child .tt-input,.input-group.input-group-sm .twitter-typeahead:first-child .tt-hint
	{
	border-bottom-left-radius: 3px;
	border-top-left-radius: 3px;
	border-bottom-right-radius: 0;
	border-top-right-radius: 0;
}

.input-group.input-group-sm .twitter-typeahead:last-child .tt-input,.input-group.input-group-sm .twitter-typeahead:last-child .tt-hint
	{
	border-bottom-left-radius: 0;
	border-top-left-radius: 0;
	border-bottom-right-radius: 3px;
	border-top-right-radius: 3px;
}

.input-group.input-group-lg .twitter-typeahead .tt-input,.input-group.input-group-lg .twitter-typeahead .tt-hint
	{
	height: 46px;
	padding: 10px 16px;
	font-size: 18px;
	line-height: 1.33;
	border-radius: 6px;
}

select.input-group.input-group-lg .twitter-typeahead .tt-input,select.input-group.input-group-lg .twitter-typeahead .tt-hint
	{
	height: 46px;
	line-height: 46px;
}

textarea.input-group.input-group-lg .twitter-typeahead .tt-input,textarea.input-group.input-group-lg .twitter-typeahead .tt-hint,select[multiple].input-group.input-group-lg .twitter-typeahead .tt-input,select[multiple].input-group.input-group-lg .twitter-typeahead .tt-hint
	{
	height: auto;
}

.input-group.input-group-lg .twitter-typeahead:not (:first-child ):not (:last-child
	) .tt-input,.input-group.input-group-lg .twitter-typeahead:not (:first-child
	):not (:last-child ) .tt-hint {
	border-radius: 0;
}

.input-group.input-group-lg .twitter-typeahead:first-child .tt-input,.input-group.input-group-lg .twitter-typeahead:first-child .tt-hint
	{
	border-bottom-left-radius: 6px;
	border-top-left-radius: 6px;
	border-bottom-right-radius: 0;
	border-top-right-radius: 0;
}

.input-group.input-group-lg .twitter-typeahead:last-child .tt-input,.input-group.input-group-lg .twitter-typeahead:last-child .tt-hint
	{
	border-bottom-left-radius: 0;
	border-top-left-radius: 0;
	border-bottom-right-radius: 6px;
	border-top-right-radius: 6px;
}

.twitter-typeahead {
	width: 100%;
}

.input-group .twitter-typeahead {
	display: table-cell !important;
	float: left;
}

.twitter-typeahead .tt-hint {
	color: #999999;
}

.twitter-typeahead .tt-input {
	z-index: 2;
}

.twitter-typeahead .tt-input[disabled],.twitter-typeahead .tt-input[readonly],fieldset[disabled] .twitter-typeahead .tt-input
	{
	cursor: not-allowed;
	background-color: #eeeeee !important;
}

.tt-dropdown-menu {
	position: absolute;
	top: 100%;
	left: 0;
	z-index: 1000;
	min-width: 160px;
	width: 100%;
	padding: 5px 0;
	margin: 2px 0 0;
	list-style: none;
	font-size: 14px;
	background-color: #ffffff;
	border: 1px solid #cccccc;
	border: 1px solid rgba(0, 0, 0, 0.15);
	border-radius: 4px;
	-webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
	box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
	background-clip: padding-box;
	*border-right-width: 2px;
	*border-bottom-width: 2px;
}

.tt-dropdown-menu .tt-suggestion {
	display: block;
	padding: 3px 20px;
	clear: both;
	font-weight: normal;
	line-height: 1.42857143;
	color: #333333;
	white-space: nowrap;
}

.tt-dropdown-menu .tt-suggestion.tt-cursor {
	text-decoration: none;
	outline: 0;
	background-color: #0081c2;
	color: #ffffff;
}

.tt-dropdown-menu .tt-suggestion.tt-cursor a {
	color: #262626;
}

.tt-dropdown-menu .tt-suggestion p {
	margin: 0;
}
